<div class="row">
    <div class="col-3 justify-content-center">
        <div class="card" style="width: 18rem;">
      <div class="card-header">
        X Şirketi
      </div>
     <table>
       <thead><th>Kategori</th>
        <th>Miktar</th>
      
      </thead>
      <tbody>
<tr>
 <td> Garajdaki Araçlar<td>
   <td>123</td>
</tr>
<tr>
  <td> Satılan Araçlar<td>
    <td>21</td>
 </tr>

      </tbody>
     </table>
    </div>
    </div>





    <div class="col-9">

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
       Şirketler
    </div>
    <div class="card-body">
        <table id="datatablesSimple" >
            <thead>
                <tr>
                    <th>Araç Marka</th>
                    <th>Araç Model</th>
                    <th>Km</th>
                    <th>Yıl</th>
                    <th>Plaka</th>
                    <th>Renk</th>
          
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jeep</td>
                    <td>Şahin</td>
                 <td>500.000</td>
                 <td>1998</td>
                 <td>34 GS 1905</td>
                 <td>Beyaz</td>
                </tr>

                <tr>
                    <td>Ford</td>
                    <td>Focus</td>
                 <td>500.000</td>
                 <td>2008</td>
                 <td>67 RS 2925</td>
                 <td>Yeşil</td>
                </tr>
                  <tr>
                    <td>Opel</td>
                    <td>Gtr</td>
                 <td>233.000</td>
                 <td>1998</td>
                 <td>59 ZZ 2341</td>
                 <td>Kırmızı</td>
                </tr>
                  <tr>
                    <td>Toyota</td>
                    <td>Corolla</td>
                 <td>10.000</td>
                 <td>1998</td>
                 <td>81 RU 4529</td>
                 <td>Bordo</td>
                </tr>
             


            </tbody>
        </table>
        </div>
        </div>
        </div>

               </div>
