<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
       Şirketler
    </div>
    <div class="card-body">
        <table id="datatablesSimple" >
            <thead>
                <tr>
                    <th>Şirket Adı</th>
                    <th>Detay</th>
          
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>X Şirketi</td>
                    <td><a  asp-controller="Stock" asp-action="Detail" asp-route-id="Id" class="btn btn-success">Detaya Git</a></td>
                 
                </tr>
                <tr>
                    <td>Y Şirketi</td>
                      <td><a  asp-controller="Stock" asp-action="Detail" asp-route-id="Id" class="btn btn-success">Detaya Git</a></td>
                 
                </tr>
                <tr>
                    <td>Z Şirketi</td>
                      <td><a  asp-controller="Stock" asp-action="Detail" asp-route-id="Id" class="btn btn-success">Detaya Git</a></td>
                 
                </tr>
             


            </tbody>
        </table>
        </div>
        </div>