@using VehicleTender.Web.AdminUI.Models.PageModel
@model StockPage
<h5 class="mb-3 pb-3 display-5 text-center mt-4">Stok Yönetimi</h5>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Şirketler
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Şirket Adı</th>
                    <th>Detay</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.GetAllCompanyName)
                {
                    <tr>
                        <td>
                            @item.CompanyName
                        </td>
                        <td>
                            <form method="get">

                                <button type="submit" class="btn btn-warning" asp-action="Detail" asp-controller="Stock" name="companyId" value="@item.CompanyId" asp-route-ID="@item.CompanyId">Detay</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
