
@{
    ViewBag.Title = "ErrorPage404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container text-center">
    <div>
        <h4 class="display-4 col-md-12">404</h4>
        <img src="~/img/1.png" style="width:558px"/>
        <h4 class="display-4 col-md-12">Sayfa Bulunamadı!</h4>
        <button style="background-color: #2B2E4A;" class="btn btn-info btn-lg col-md-12">@Html.ActionLink("Anasayfaya Dön!", "Index", "Home")</button>
    </div>
</div>
<hr />

