<html>
<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script type="module" src="./index.js"></script>
    <script>
        function initMap() {
            const uluru = { lat: 41.10860599064253, lng: 29.033649540418985 };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 10,
                center: uluru,
            });
            new google.maps.Marker({ position: uluru, map: map, });
            new google.maps.Marker({ position: { lat: 41.13072714269274, lng: 28.912853572149405 }, map: map, });
            new google.maps.Marker({ position: { lat: 40.99574785648414, lng: 29.019785064328474 }, map: map, });
            new google.maps.Marker({ position: { lat: 41.09610955428791, lng: 29.009031240512865 }, map: map, });
            new google.maps.Marker({ position: { lat: 41.111981828939584, lng: 29.032105259277728 }, map: map, });
        }
        window.initMap = initMap;
    </script>
</head>
<body>
    <div class="container-fluid">
        <h5 class="mb-3 pb-3 display-5 text-center mt-4">Ekspertiz Servisi Ara</h5>
        <div class="row">
            <div class="col-4">
                <label>İl</label>
                <input type="text" class="form-control" aria-describedby="basic-addon1">
            </div>
            <div class="col-4">
                <label>İlçe</label>
                <input type="text" class="form-control" aria-describedby="basic-addon1">
            </div>
        </div>
        <input type="submit" a style="background-color: #2B2E4A; float:right;" value="Servis Ara" class="btn btn-info mt-1" />
        <br />
        <br />
        <hr />

        <h5 class="mb-3 pb-3 display-5 text-center mt-4">Servis Listesi</h5>
        <div id="map"></div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="color:black;">Servis No</th>
                    <th style="color:black;">Servis Adı</th>
                    <th style="color:black;">Servis İl</th>
                    <th style="color:black;">Servis İlçe</th>
                    <th style="color:black;">Servis telefon Numarası</th>
                    <th style="color:black;">Adres</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>A Servisi/Şirketi</td>
                    <td>İstanbul</td>
                    <td>Maslak</td>
                    <td>05000000000</td>
                    <td>Buraya Adres Gelecek...</td>
                    <td><input type="button" a style="background-color: #2B2E4A; float:right;" value="Detay" class="btn btn-info mt-1" data-toggle="modal" data-target="#exampleModalCenter" /></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>B Servisi/Şirketi</td>
                    <td>İstanbul</td>
                    <td>Maslak</td>
                    <td>05000000000</td>
                    <td>Buraya Adres Gelecek...</td>
                    <td><input type="button" a style="background-color: #2B2E4A; float:right;" value="Detay" class="btn btn-info mt-1" data-toggle="modal" data-target="#exampleModalCenter" /></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>C Servisi/Şirketi</td>
                    <td>İstanbul</td>
                    <td>Maslak</td>
                    <td>05000000000</td>
                    <td>Buraya Adres Gelecek...</td>
                    <td><input type="button" a style="background-color: #2B2E4A; float:right;" value="Detay" class="btn btn-info mt-1" data-toggle="modal" data-target="#exampleModalCenter" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFyDjSZ_7HJSos7h9_701U5OS2-YAVHJs&callback=initMap">
    </script>
</body>
</html>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="text-center display-4 modal-title" id="exampleModalLongTitle">Servis Bilgileri</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <input type="text" class="form-control form-control-lg mt-3" placeholder="Servis Adı" />
                        <input type="text" class="form-control form-control-lg mt-3" placeholder="Servis İl" />
                        <input type="text" class="form-control form-control-lg mt-3" placeholder="Servis İlçe" />
                        <input type="text" class="form-control form-control-lg mt-3" placeholder="Servis telefon Numarası" />
                        <input type="text" class="form-control form-control-lg mt-3" placeholder="Adres" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </div>

    </div>
</div>
