@model VehicleTender.WEB.UserDTO.VM.Account.ResetPasswordVM
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-6 col-md-4"></div>
    <div class="col-6 col-md-4">
        @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
        {
            <h3 class="mb-3 pb-3 display-5 text-center mt-5">Şifre Yenileme</h3>
            <div class="mb-4">
                @Html.TextBoxFor(x => x.Mail, new { placeholder = "Email", @class = "form-control form-control-lg" })
                @Html.ValidationMessageFor(x => x.Mail)
            </div>
            <button style="background-color: #2B2E4A;" class="btn btn-info btn-lg btn-block col-md-12" type="submit">Yenile</button>
        }
    </div>
</div>

