


<form method="post" asp-controller="Notary" asp-action="Update">
  <div class="mb-3">
    <label  class="form-label">Yeni Noter Ücreti</label>
    <input type="text" class="form-control"  >
    
  </div>
  <div class="mb-3">
    <label  class="form-label">Son Geçerlilik Tarihi</label>
    <input type="datetime" class="form-control" id="exampleInputPassword1">
  </div>
 
  <button type="submit" class="btn btn-primary">Güncelle</button>
</form>