<div class="row">
    <h5 class="mb-3 pb-3 display-5 text-center mt-4">Kurumsal Kullanıcılar</h5>
    <div class="col-4">
        <label>Şirket Adı</label>
        <select class="form-control">
            <option value="value">Borusan</option>
            <option value="value">vs</option>
            <option value="value">vsvs</option>
        </select>
    </div>
    <div class="col-4">
        <label>Paket Bilgisi</label>
        <select class="form-control">
            <option value="value">Altın</option>
            <option value="value">Gümüş</option>
            <option value="value">Bronz</option>
        </select>
    </div>
</div>
<br>
<input type="submit" a style="float:right;" value="Listele" class="btn btn-info col-md-1" />

<br>
<br>
<br>
<br>
 
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Kurumsal Kullanıcılar
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Kullanıcı Adı</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Mail</th>
                    <th>Telefon</th>
                    <th>Şirket Ad</th>
                    <th>Şirket Tip</th>
                    <th>Adres</th>
                    <th>İl</th>
                    <th>İlçe</th>
                    <th>Aktiflik</th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>borusanoto</td>
                    <td>Elif</td>
                    <td>Beyaz</td>
                    <td>borusan_elif@borusan.oto.com</td>
                    <td>00000000</td>
                    <td>Borusan</td>
                    <td>Anonim</td>
                    <td>vsvsvssvsvvsvsvsvsvsvsvs</td>
                    <td>İstanbul</td>
                    <td>Ataşehir</td>
                    <td>Deaktif</td>
                    <td style="text-align:center;">
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter8">Paket</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter7">Üyelik</button>
                    </td>
                </tr>
                <tr>
                    <td>borusanoto</td>
                    <td>Elif</td>
                    <td>Beyaz</td>
                    <td>borusan_elif@borusan.oto.com</td>
                    <td>00000000</td>
                    <td>Borusan</td>
                    <td>Anonim</td>
                    <td>vsvsvssvsvvsvsvsvsvsvsvs</td>
                    <td>İstanbul</td>
                    <td>Ataşehir</td>
                    <td>Deaktif</td>
                    <td style="text-align:center;">
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter8">Paket</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter7">Üyelik</button>
                    </td>
                </tr>
                <tr>
                    <td>borusanoto</td>
                    <td>Elif</td>
                    <td>Beyaz</td>
                    <td>borusan_elif@borusan.oto.com</td>
                    <td>00000000</td>
                    <td>Borusan</td>
                    <td>Anonim</td>
                    <td>vsvsvssvsvvsvsvsvsvsvsvs</td>
                    <td>İstanbul</td>
                    <td>Ataşehir</td>
                    <td>Deaktif</td>
                    <td style="text-align:center;">
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter8">Paket</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter7">Üyelik</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="exampleModalCenter7" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-center display-7 modal-title" id="exampleModalLongTitle">Üyelik Aktiflik</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <select class="form-control form-control-lg mt-3">
                            <option value="1">Aktif</option>
                            <option value="2">Deaktif</option>
                        </select>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter8" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-center display-7 modal-title" id="exampleModalLongTitle">Paket Tanımlama||Güncelleme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">

                        <select class="form-control form-control-lg mt-3">
                            <option value="1">Altın</option>
                            <option value="2">Gümüş</option>
                            <option value="2">Bronz</option>
                        </select>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
