@using VehicleTender.Web.AdminUI.Models.IndividualCar
@model IndividualCarSaleUpdateDetailPageDTO
<form asp-action="IndividualVehicleSalesDetail" asp-controller="User" method="post">
    <div class="container mt-3">
        <div class="row">
            <div class="m-3 vehicle_update">
                <h4>Bireysel Araç Satım Detay Bilgisi</h4>
                <div class="col-12">
                    <div class="row">
                        <div class="col-4">
                            <label>Üye Ad Soyad</label>
                            <input type="text" class="form-control" asp-for="MemberNameSurname">
                        </div>
                        <div class="col-4">
                            <label>Statü</label>
                            <select class="form-control" asp-for="Statu">
                                <option value="1">X</option>
                                <option value="2">Y</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label>Ön Değerlendirme Fiyat</label>
                            <input type="text" class="form-control" asp-for="PreAssesmentPrice">
                        </div>
                        <div class="col-4">
                            <label>Teklif Fiyatı</label>
                            <input type="text" class="form-control" asp-for="Offer">
                        </div>
                        <div class="col-4">
                            <label>Id</label>
                               <input asp-for="CarId" readonly class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-3 vehicle_update">
                <h4 style="margin-top:20px;">Araç Detay Bilgileri</h4>
                <div class="col-12 ">
                    <div class="row">
                        <div class="col-4">
                            <label>Araç Marka</label>
                            <select class="form-control" asp-for="CarBrand">
                                <option value="1">BMW</option>
                                <option value="2">Mercedes</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label>Araç Model</label>
                            <select class="form-control" asp-for="CarModel">
                                <option value="1">M3</option>
                                <option value="2">M6</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label>Gövde Tipi</label>
                            <select class="form-control" asp-for="BodyType">
                                <option value="1">Sedan</option>
                                <option value="2">Hatchback</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label>Yıl</label>
                            <select class="form-control" asp-for="Year">
                                <option value="1">2022</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label>Yakıt Tipi</label>
                            <select class="form-control" asp-for="FuelType">
                                <option value="1">Benzin</option>
                                <option value="2">Dizel</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label>Vites Tipi</label>
                            <select class="form-control" asp-for="TransmissionType">
                                <option value="1">Düz</option>
                                <option value="2">Otomatik</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label>Versiyon</label>
                            <select class="form-control" asp-for="Version">
                                <option value="1">X</option>
                                <option value="2">Y</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label>KM Bilgisi</label>
                            <input type="text" class="form-control" asp-for="KM">
                        </div>
                        <div class="col-4">
                            <label>Renk</label>
                            <select class="form-control" asp-for="Color">
                                <option value="1">Kırmızı</option>
                                <option value="2">Siyah</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label>Donanım</label>
                            <select class="form-control" asp-for="Hardware">
                                <option value="1">X</option>
                                <option value="2">Y</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <label>Fotoğraflar</label>
                                <input type="file" class="form-control">
                            </div>
                            <div class="col-6">
                                <label>Açıklama</label>
                                <textarea cols="20" rows="5" class="form-control" asp-for="Description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--sorun var pop up larda-->
        <div class="row  mt-3">
            <button type="button" class="btn btn-primary  m-3" data-toggle="modal" data-target="#aracTarihcePopUp">
                Araç Tarihçe
            </button>
            <button type="button" class="btn btn-primary  m-3" data-toggle="modal" data-target="#hasarTramerBilgileriPopUp">
                Hasar Tramer Bilgileri
            </button>
            <button type="submit" class="btn btn-primary  m-3">
                Kaydet
            </button>
        </div>

    </div>





    <div class="modal fade" id="aracTarihcePopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Araç Tarihçe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Araç Tarihçe
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Kaydet</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="hasarTramerBilgileriPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Hasar Tramer Bilgileri</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <label>Toplam Tramer Tutarı</label>
                    <input type="text" name="name" />
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Orjinal</th>
                                <th scope="col">Boyalı</th>
                                <th scope="col">Değişmiş</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="text-align:center;">
                                <th scope="row">Sağ Arka Çamurluk</th>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"></td>
                            </tr>
                            <tr style="text-align:center;">
                                <th scope="row">Arka Kaput</th>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="option1"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option2"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio3" value="option3"></td>
                            </tr>
                            <tr style="text-align:center;">
                                <th scope="row">Sol Arka Çamurluk</th>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option1"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option2"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio3" value="option3"></td>
                            </tr>
                            <tr style="text-align:center;">
                                <th scope="row">Sağ Arka Kapı</th>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio1" value="option1"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio2" value="option2"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio3" value="option3"></td>
                            </tr>
                            <tr style="text-align:center;">
                                <th scope="row">Sağ Ön Kapı</th>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio1" value="option1"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio2" value="option2"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio3" value="option3"></td>
                            </tr>
                            <tr style="text-align:center;">
                                <th scope="row">Tavan</th>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio1" value="option1"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio2" value="option2"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio3" value="option3"></td>
                            </tr>
                            <tr style="text-align:center;">
                                <th scope="row">Sol Arka Kapı</th>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio1" value="option1"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio2" value="option2"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio3" value="option3"></td>
                            </tr>
                            <tr style="text-align:center;">
                                <th scope="row">Sol Ön Kapı</th>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions7" id="inlineRadio1" value="option1"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions7" id="inlineRadio2" value="option2"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions7" id="inlineRadio3" value="option3"></td>
                            </tr>
                            <tr style="text-align:center;">
                                <th scope="row">Sağ Ön Çamurluk</th>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions8" id="inlineRadio1" value="option1"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions8" id="inlineRadio2" value="option2"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions8" id="inlineRadio3" value="option3"></td>
                            </tr>
                            <tr style="text-align:center;">
                                <th scope="row">Motor Kaputu</th>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions9" id="inlineRadio1" value="option1"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions9" id="inlineRadio2" value="option2"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions9" id="inlineRadio3" value="option3"></td>
                            </tr>
                            <tr style="text-align:center;">
                                <th scope="row">Sol Ön Çamurluk</th>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions10" id="inlineRadio1" value="option1"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions10" id="inlineRadio2" value="option2"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions10" id="inlineRadio3" value="option3"></td>
                            </tr>
                            <tr style="text-align:center;">
                                <th scope="row">Ön Tampon</th>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions11" id="inlineRadio1" value="option1"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions11" id="inlineRadio2" value="option2"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions11" id="inlineRadio3" value="option3"></td>
                            </tr>
                            <tr style="text-align:center;">
                                <th scope="row">Arka Tampon</th>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions12" id="inlineRadio1" value="option1"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions12" id="inlineRadio2" value="option2"></td>
                                <td><input class="form-check-input" type="radio" name="inlineRadioOptions12" id="inlineRadio3" value="option3"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</form>

