<div>
    <h5 class="mb-3 pb-3 display-5 text-center mt-4">Bireysel Araç Satım</h5>
    <div class="row filter">
        <div class="col-4">
            <label>Araç Marka</label>
            <select class="form-control">
                <option value="value">text</option>
            </select>
        </div>
        <div class="col-4">
            <label>Araç Model</label>
            <select class="form-control">
                <option value="value">text</option>
            </select>
        </div>
        <div class="col-4">
            <label>Statü</label>
            <select class="form-control">
                <option value="value">text</option>
            </select>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="submit" value="Listele" class="btn btn-primary m-3 list" />
            </div>
        </div>
    </div>
</div>

 
<div class="card mb-4 m-5">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Araç Listesi
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Araç Id</th>
                    <th>Araç Marka</th>
                    <th>Araç Model</th>
                    <th>Statü</th>
                    <th>Kaydeden Kullanıcı</th>
                    <th>Kaydetme Zamanı</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 15; i++)
                {
                    <tr>
                        <td>1</td>
                        <td>Position</td>
                        <td>Model</td>
                        <td>Satıldı</td>
                        <td>Ahmet</td>
                        <td>9.10.2022</td>
                        <td class="update_delete"><a href="~/User/IndividualVehicleSalesDetail" class="btn btn-warning">Güncelle</a> <button type="button" class="btn btn-danger">Sil</button></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
