<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
       Komisyon Ücretleri
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="table table-hover table-bordered" >
            <thead>
                <tr>
                     <th>Fiyat Başlangıç</th>
                    <th>Fiyat Bitiş</th>
                    <th>Komisyon Ücreti</th>
                    <th></th>
                
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 15; i++)
                {
                    <tr>
                        <td>0 ₺</td>
                        <td>100.000 ₺</td>
                        <td>3000 ₺</td>
                        <td style="text-align:center;"><a asp-controller="Comission" asp-action="Delete" asp-route-id="Id" class="btn btn-danger">Sil</a><span>  </span><a asp-action="Update" asp-controller="Comission" asp-route-id="Id" class="btn btn-dark">Güncelle</a></td>

                    </tr>
                }         

            </tbody>
        </table>
        </div>
        </div>

                    <div class="d-grid gap-2">
   <button class="btn btn-primary" type="button" >  <a asp-controller="Comission" asp-action="Add" class="text-white">Yeni Komisyon Aralığı Ekle</a></button>

  
  
</div>