<form method="post" asp-controller="Comission" asp-action="Update">
  <div class="mb-3">
    <label  class="form-label">Başlangıç Fiyat Araloğı</label>
    <input type="text" class="form-control"  >
    
  </div>
  <div class="mb-3">
    <label  class="form-label">Bitiş Fiyat Aralığı</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>
    <div class="mb-3">
    <label  class="form-label">Komisyon Ücreti</label>
    <input type="text"  class="form-control" id="exampleInputPassword1">
  </div>
 
  <button type="submit" class="btn btn-primary">Ekle</button>
</form>