@{
    ViewData["Title"] = "Vehicle List";
    ViewData["InfoTitle"] = "Bu sayfada admin kullanıcılar araçları listeleyebilirler...";
}
<div>
    <form>
        <div class="row">
             <div class="col-3">
                <div class="row">
                    <div class="col-md-6">
                        <label>Araç Marka</label>
                    </div>
                    <div class="col-md-6">
                        <div class="dropdown">
                            <button class="btn border dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Seçiniz
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-3">
                <div class="row">
                    <div class="col-md-6">
                        <label>Araç Marka</label>
                    </div>
                    <div class="col-md-6">
                        <div class="dropdown">
                            <button class="btn border dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Seçiniz
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-md-6">
                        <label>Araç Marka</label>
                    </div>
                    <div class="col-md-6">
                        <div class="dropdown">
                            <button class="btn border dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Seçiniz
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-md-6">
                        <label>Araç Marka</label>
                    </div>
                    <div class="col-md-6">
                        <div class="dropdown">
                            <button class="btn border dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Seçiniz
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input style="" type="submit" value="Ara" class="btn btn-primary mt-1" />
    </form>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Araç Listeleme Tablosu
    </div>
    <div class="card-body">
        <table id="datatablesSimple" >
            <thead>
                <tr>
                    <th>Araç Id</th>
                    <th>Araç Marka</th>
                    <th>Araç Model</th>
                    <th>Bireysel/Kurumsal</th>
                    <th>Statü</th>
                    <th>Kaydeden Kullanıcı</th>
                    <th>Kaydetme Zamanı</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                 <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>

                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>

                </tr>
                 <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                 <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>

                </tr>
                 <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                 <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>

                </tr>
                 <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                 <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>

                </tr>
                 <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                 <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>

                </tr>
                 <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                 <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>

                </tr>
                 <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                 <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>

                </tr>
                 <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                 <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Model</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Office</td>
                    <td>Age</td>
                    <td>Start date</td>
                    <td>sdgasdfsadf</td>
                    <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>

                </tr>


            </tbody>
        </table>
    </div>
</div>