@{
    ViewData["Title"] = "Vehicle List";
    ViewData["InfoTitle"] = "Bu sayfada admin kullanıcılar araçları listeleyebilirler...";
}
<div>
    <form>
        <h5 class="mb-3 pb-3 display-5 text-center mt-4">Araçlar</h5>
        <div class="row">
            <div class="col-4">
                <label>Marka</label>
                <select class="form-control">
                    <option value="value">text</option>
                </select>
            </div>
            <div class="col-4">
                <label>Model</label>
                <select class="form-control">
                    <option value="value">text</option>
                </select>
            </div>
            <div class="col-4">
                <label>Bireysel /Kurumsal</label>
                <select class="form-control">
                    <option value="value">text</option>
                </select>
            </div>
            <div class="col-4">
                <label>Statü</label>
                <select class="form-control">
                    <option value="value">text</option>
                </select>
            </div>
        </div>
        <input style="float:right;" type="submit" value="Listele" class="btn btn-outline-primary mt-1" />
    </form>
</div>
<a class="btn btn-outline-info w-100 p-3 mt-3 mb-3" role="button">Yeni</a>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Araç Listeleme Tablosu
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Araç Id</th>
                    <th>Araç Marka</th>
                    <th>Araç Model</th>
                    <th>Bireysel/Kurumsal</th>
                    <th>Statü</th>
                    <th>Kaydeden Kullanıcı</th>
                    <th>Kaydetme Zamanı</th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 15; i++)
                {
                    <tr>
                        <td>Name</td>
                        <td>Position</td>
                        <td>Office</td>
                        <td>Age</td>
                        <td>Start date</td>
                        <td>sdgasdfsadf</td>
                        <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>