@{
    ViewData["Title"] = "Vehicle Gear Type List";
}
<div class="row" style="margin:30px;">
    <button type="button" class="btn btn-primary">Vites Tipi Ekle</button>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Vites Tipi Tablosu
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Sıra</th>
                    <th>Vites Tipi</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 15; i++)
                {
                    <tr>
                        <td>@i</td>
                        <td>fasdfasd</td>
                        <td style="text-align:center;"><button type="button" class="btn btn-warning">Güncelle</button> <button type="button" class="btn btn-danger">Sil</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>