@{
    ViewData["Title"] = "Vehicle List";
    ViewData["InfoTitle"] = "Bu sayfada admin kullanıcılar araçları listeleyebilirler...";
}
<div> 
    <h5 class="mb-3 pb-3 display-5 text-center mt-4">Araçlar</h5>
    <form>
        <div class="row filter">
            <div class="col-4">
                <label>Marka</label>
                <select class="form-control">
                    <option value="value">text</option>
                </select>
            </div>
            <div class="col-4">
                <label>Model</label>
                <select class="form-control">
                    <option value="value">text</option>
                </select>
            </div>
            <div class="col-4">
                <label>Bireysel /Kurumsal</label>
                <select class="form-control">
                    <option value="value">text</option>
                </select>
            </div>
            <div class="col-4">
                <label>Statü</label>
                <select class="form-control">
                    <option value="value">text</option>
                </select>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="submit" value="Listele" class="btn btn-primary m-3 list" />
                </div>
            </div>
        </div>
    </form>
</div>

<div class="card mb-4 m-5">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Araç Listeleme Tablosu
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Araç Id</th>
                    <th>Araç Marka</th>
                    <th>Araç Model</th>
                    <th>Bireysel/Kurumsal</th>
                    <th>Statü</th>
                    <th>Kaydeden Kullanıcı</th>
                    <th>Kaydetme Zamanı</th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 15; i++)
                {
                    <tr>
                        <td>Name</td>
                        <td>Position</td>
                        <td>Office</td>
                        <td>Age</td>
                        <td>Start date</td>
                        <td>sdgasdfsadf</td>
                        <td>sdgasdfsadf</td>
                        <td class="update_delete"><a asp-controller="Vehicle" asp-action="UpdateVehicle" class="btn btn-warning">Güncelle</a> <button type="button" class="btn btn-danger">Sil</button></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<a class="btn btn-primary w-100 p-3 mt-3 mb-3" asp-controller="Vehicle" asp-action="AddVehicle" role="button">Yeni Araç Ekle</a>