@model List<BodyType>
@{
    ViewData["Title"] = "Vehicle Body Type List";
}

<h5 class="mb-3 pb-3 display-5 text-center mt-4">Gövde Tipleri</h5>
<div class="row m-3" >
    <button type="button" class="btn btn-primary w-100 p-3 mt-3 mb-3" data-toggle="modal" data-target="#newRole">
        Gövde Tipi Ekle
    </button> 
</div>
<div class="card mb-4 m-5">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Gövde Tipi Tablosu
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Sıra</th>
                    <th>Gövde Tipi</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (BodyType bodyType in @Model)
                {
                    <tr>
                        <td>@bodyType.Id</td>
                        <td>@bodyType.BodyTypeName</td>
                        <td class="update_delete" a">
                            <form method="post">
                                <button type="submit" class="btn btn-danger" asp-action="DeleteBodyType" asp-controller="Vehicle" asp-route-ID="@bodyType.Id.">Sil</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="newRole" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Gövde Tipi Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="VehicleAddBodyType" method="post">
                <div class="modal-body">
                    <div class="row m-3">
                        <label>Gövde Tipi </label>
                        <input type="text" class="form-control" name="bodyType">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="newRole1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Gövde Tipi Güncelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="post">
                <div class="modal-body">
                    <div class="row m-3">
                        <label>Gövde Tipi </label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>