@using VehicleTender.Web.AdminUI.Models.PageModel
@{
    ViewData["Title"] = "Vehicle Hardware List";
}
@model HardwareListPageModel;
<h5 class="mb-3 pb-3 display-5 text-center mt-4">Donanımlar</h5>

<div class="row m-3">
    <button type="button" class="btn btn-primary w-100 p-3 mt-3 mb-3" data-toggle="modal" data-target="#newRole">
        Donanım Ekle
    </button>


</div>
<div class="card mb-4 m-5">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Araç Donanım Tablosu
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Sıra</th>
                    <th>Araç Donanım</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                @foreach (var item in Model.HardwareList)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.HardwareName</td>
                        <td class="update_delete">
                            <form method="post">
                            <button type="submit" class="btn btn-danger" asp-action="DeleteVehicleHardware" asp-controller="Vehicle" asp-route-ID="@item.Id">Sil</button>
                            </form>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="newRole" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Donanım Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="AddVehicleHardware" method="post">
                <div class="modal-body">
                    <div class="row m-3">
                        <label>Donanım </label>
                        <input class="form-control" type="text" asp-for="Hardware.HardwareName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary" asp-action="AddVehicleHardware" asp-controller="Vehicle">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

