
@{
    ViewBag.Title = "ListTender";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.infoTitle = "Bu sayfada ihaleler listelenmektedir...";
}
<div class="container-fluid">
    <h5 class="mb-3 pb-3 display-5 text-center mt-4">İhale Ara</h5>
    @using (Html.BeginForm("ListVehicle", "Vehicle", FormMethod.Post))
    {
        <div class="row">
            <div class="col-4">
                <label>İhale Adı</label>
                <select class="form-control">
                    <option value="value">text</option>
                </select>
            </div>
            <div class="col-4">
                <label>Bireysel / Kurumsal</label>
                <select class="form-control">
                    <option value="value">text</option>
                </select>
            </div>
            <div class="col-4">
                <label>Statü</label>
                <select class="form-control">
                    <option value="value">text</option>
                </select>
            </div>
        </div>
        <hr />
        <input type="submit" a style="background-color: #2B2E4A; float:right;" value="Listele" class="btn btn-info mt-1" />
    }
    <br />
    <h5 class="mb-3 pb-3 display-5 text-center mt-4">İhale Listesi</h5>
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="color:black;">İhale ID</th>
                <th style="color:black;">İhale Adı</th>
                <th style="color:black;">Bireysel / Kurumsal</th>
                <th style="color:black;">İhale Başlangıç</th>
                <th style="color:black;">İhale Bitiş</th>
                <th style="color:black;">Statü</th>
                <th style="color:black;">Kaydeden Kullanıcı</th>
                <th style="color:black;">Kaydetme Zamanı</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>Çözüm Ford İhalesi</td>
                <td>Kurumsal</td>
                <td>15.10.2022</td>
                <td>9.10.2026</td>
                <td>Giriş</td>
                <td>Ferid</td>
                <td>9.10.2022</td>
                <td><a href="~/Tender/TenderDetail"><input type="submit" a style="background-color: #2B2E4A; float:right;" value="Detay" class="btn btn-info mt-1" href="~/Tender/TenderDetail" /></a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Demir Hyundai İhalesi</td>
                <td>Kurumsal</td>
                <td>15.10.2022</td>
                <td>9.10.2026</td>
                <td>Giriş</td>
                <td>x</td>
                <td>9.10.2022</td>
                <td><a href="~/Tender/TenderDetail"><input type="submit" a style="background-color: #2B2E4A; float:right;" value="Detay" class="btn btn-info mt-1" href="~/Tender/TenderDetail" /></a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Se Mercedes İhalesi</td>
                <td>Kurumsal</td>
                <td>15.10.2022</td>
                <td>9.10.2026</td>
                <td>Giriş</td>
                <td>y</td>
                <td>9.10.2022</td>
                <td><a href="~/Tender/TenderDetail"><input type="submit" a style="background-color: #2B2E4A; float:right;" value="Detay" class="btn btn-info mt-1" href="~/Tender/TenderDetail" /></a></td>
            </tr>
        </tbody>
    </table>
    <hr />
</div>

