@{
    ViewData["Title"] = "Package Identification Page";
    ViewBag.InfoTitle = "Bu sayfada admin kullanıcılar paket değişikliği yapabilirler...";
}


<h5 class="mb-3 pb-3 display-5 text-center mt-4">Paket Tanımlama Ekranı</h5>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4"></div>
            <div class="col-6 col-md-4">
                <form>
                    <label>Şirket</label>
                    <select class="form-control">
                        <option value="value">A Şirketi</option>
                        <option value="value">B Şirketi</option>
                        <option value="value">C Şirketi</option>
                    </select>
                    <label>Paket</label>
                    <select class="form-control">
                        <option value="value">Altın</option>
                        <option value="value">Gümüş</option>
                        <option value="value">Bronz</option>
                        <option value="value">Özel Paket</option>
                    </select>
                    <div class="mt-4">
                        <button class="btn btn-info btn-lg btn-block col-md-12" type="button">Paket Tanımla</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>


