@{
ViewBag.infoTitle="Bu sayfada aracınızın satış ilanını verebilirsiniz...";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ROYAL CARS - Car Rental HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-center mb-5">Araç Satış</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Araç Marka</label>
                        <select class="form-control">
                            <option value="1">Mercedes</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Araç Model</label>
                        <select class="form-control">
                            <option value="1">R3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Gövde Tipi</label>
                        <select class="form-control">
                            <option value="1">Sedan</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Yıl</label>
                        <select class="form-control">
                            <option value="1">2022</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Vites Tipi</label>
                        <select class="form-control">
                            <option value="1">Otomatik</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Yakıt Tipi</label>
                        <select class="form-control">
                            <option value="1">Benzinli</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Renk</label>
                        <select class="form-control">
                            <option value="1">Siyah</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Versiyon</label>
                        <select class="form-control">
                            <option value="1">Yeni</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Donanım</label>
                        <select class="form-control">
                            <option value="1">Navigasyon</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Donanım</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Fotoğraf</label>
                        <input type="file" class="form-control" multiple>
                    </div>
                    <div class="form-group">
                        <label>Açıklama</label>
                        <textarea class="form-control" cols="5" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <a href="tramer-bilgileri.html" class="btn btn-info btn-lg btn-block col-md-12" data-toggle="modal" data-target="#exampleModalCenter5" style="background-color: #2B2E4A;">Hasar Tramer Bilgileri</a>
                        <button style="background-color: white; color: #2B2E4A;" class="btn btn-info btn-lg btn-block col-md-12" type="button">Teklif Al</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Hemen Al Satışta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Hemen Al Satışta
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Komisyon</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Komisyon
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Alıcı Bilgileri</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Alıcı Bilgileri
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Araç Tarihçe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/" method="post">
                    <div class="modal-body">
                        Araç Tarihçe
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Hasar Tramer Bilgileri</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/" method="post">
                    <div class="modal-body">

                        <label>Toplam Tramer Tutarı</label>
                        <input type="text" name="name" />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Orjinal</th>
                                    <th scope="col">Boyalı</th>
                                    <th scope="col">Değişmiş</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align:center;">
                                    <th scope="row">Sağ Arka Çamurluk</th>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"></td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Arka Kaput</th>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="option1"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option2"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio3" value="option3"></td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Sol Arka Çamurluk</th>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option1"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option2"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio3" value="option3"></td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Sağ Arka Kapı</th>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio1" value="option1"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio2" value="option2"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio3" value="option3"></td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Sağ Ön Kapı</th>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio1" value="option1"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio2" value="option2"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio3" value="option3"></td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Tavan</th>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio1" value="option1"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio2" value="option2"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio3" value="option3"></td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Sol Arka Kapı</th>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio1" value="option1"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio2" value="option2"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio3" value="option3"></td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Sol Ön Kapı</th>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions7" id="inlineRadio1" value="option1"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions7" id="inlineRadio2" value="option2"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions7" id="inlineRadio3" value="option3"></td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Sağ Ön Çamurluk</th>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions8" id="inlineRadio1" value="option1"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions8" id="inlineRadio2" value="option2"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions8" id="inlineRadio3" value="option3"></td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Motor Kaputu</th>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions9" id="inlineRadio1" value="option1"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions9" id="inlineRadio2" value="option2"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions9" id="inlineRadio3" value="option3"></td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Sol Ön Çamurluk</th>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions10" id="inlineRadio1" value="option1"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions10" id="inlineRadio2" value="option2"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions10" id="inlineRadio3" value="option3"></td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Ön Tampon</th>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions11" id="inlineRadio1" value="option1"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions11" id="inlineRadio2" value="option2"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions11" id="inlineRadio3" value="option3"></td>
                                </tr>
                                <tr style="text-align:center;">
                                    <th scope="row">Arka Tampon</th>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions12" id="inlineRadio1" value="option1"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions12" id="inlineRadio2" value="option2"></td>
                                    <td><input class="form-check-input" type="radio" name="inlineRadioOptions12" id="inlineRadio3" value="option3"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">İlan Bilgileri</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/" method="post">
                    <div class="modal-body">
                        <div class="row m-3">
                            <label>İlan Başlığı</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="row m-3">
                            <label>İlan Açıklama</label>
                            <textarea cols="20" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                        <button type="button" class="btn btn-primary">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>